.home-circle {
    width: 100%;
    margin-bottom: 50px;
}

.home-circle-item {
    /* width: 30%; */
}

.home-circle-item-content {
    width: 100%;
    height: 100%;
    padding-top: 100%;

    position: relative;
    border-radius: 100%;
}

.home-circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100%;
    transition: opacity 0.5s;
}

.home-circle-item:hover img {
    opacity: 50%;
    transition: 0.5s;
}

.home-circle-item-text {
    font-size: 1.2em;
}