<div class="normal-content">
  <h1>Mot du pasteur</h1>
  Nous désirons être une église familiale qui proclame un message d’amour, instruit, qui encourage le chrétien et qui
  attire les personnes vers le Christ vivant et actuel pour la société d’aujourd’hui. Nous croyons que la Bible a des
  réponses pour votre vie et qu’elle pourrait éclairer le chemin de chacun. Notre église désire développer des relations
  authentiques avec des personnes qui peuvent partager la Parole à la nouvelle génération. Venez nous visiter et vous
  verrez que Jésus est la Vérité qui manque à votre vie et celui avec qui vous pouvez passer l’éternité.
</div>
