<div class="normal-content">
  <h1>Conseil</h1>

  <p><b>Le Conseil pour l’Avancement de l’Église ou CAE</b> est formé de membres qui aident le pasteur à prendre les
    décisions
    administratives et financières de l’église. Ces personnes viennent en appui au pasteur dans le but de bien faire
    fonctionner les différentes activités de l’église. Présentement, les conseillers ont été élus pour une durée d’un
    an.
  </p>

  <p>
    Les conseillers actuels sont :
  </p>
  <ul>
    <li>Paul Jean-Pierre</li>
    <li>Enriqué Rojas</li>
    <li>Wilson Jean Paul</li>
  </ul>


  <p> Si vous avez des questions ou des suggestions pour l’édification de l’église, informez nous à <b>info@ebrs.ca</b>
  </p>
</div>
