<div class="normal-content">
  <h1>À Propos</h1>

  <p>En 1984 un jeune pasteur, Daniel Sommerville, s’est établit au Québec avec sa petite famille. Il a fondé un groupe
    de
    croyants dans la ville de Longueuil appelé Église Baptiste de la Rive-Sud. Il y a maintenant plus de 30 ans que
    cette
    Église partage sa passion pour Jésus-Christ avec la communauté et encourage les croyants dans leur foi. À l’Église
    Baptiste de la Rive-Sud, nous croyons que la Bible est vivante et actuelle pour tous et qu’elle peut répondre à
    toutes
    vos questions.</p>

  <p>Nous voulons être une Église qui rencontre les gens là où ils se trouvent puis les dirige vers une relation
    personnelle avec Dieu à travers Jésus Christ, le Rédempteur. Car Dieu seul a le pouvoir de changer et transformer
    les
    vies.</p>

  <p>« Car Dieu a tant aimé le monde qu’il a donné son Fils unique, afin que quiconque croit en lui ne périsse point,
    mais qu’il ait la vie éternelle » Jean 3.16</p>
</div>
