<div class="container">
  <div class="box">
    <div class="box-image">
      <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper image-container">
            <img [src]="image" alt="Random slide" />
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="box-overlay w-100 bg-dark text-white" *ngIf="overlay">
      <h6 class="m-0">{{overlayText}}</h6>
    </div>
  </div>
</div>
