<div class="normal-content">
  <h1>Le Centre St-Robert</h1><br>
  <p>
    Le Centre communautaire St-Robert est dédié au développement de la communauté St-Robert, sous l’autorité de l’Église
    baptiste de la Rive Sud (EBRS). Les locataires s’engagent à respecter les lieux et les valeurs du EBRS (être
    bénéfique,
    prudent et bienséant). Les activités des locataires devraient contribuer, favoriser ou soutenir le développement
    spirituel, culturel ou éducatif de la communauté.
  </p>

  <p>
    Si vous voulez louer une salle, contactez-nous: <b>ebrs@videotron.ca</b> ou téléphonez : 450-651-6565 : et laissez
    un
    message détaillé (date, type d’évènement et # de personnes). Les chaises et tables sont inclus dans le prix.
  </p>

  <p>Voici les tarifs pour 2022: (minimum 3 heures)</p>

  <p>Salle #1 (100 personnes) - 60$ l’heure (max. 420$)</p>

  <p>Salle #2 (100 personnes) - 65$ l’heure, avec cuisine (max. 450 $)</p>

  <p>Salles #1, 2 (210 personnes) - 75$ l’heure, avec cuisine (max 600$)</p>

  <p>Salle #3 (50 personnes) - 40$ l’heure (max. 280$)</p>

  <p>Salle #6 (12 personnes) - 15$ l’heure</p>

  <p>Tarifs en usage jusqu’à 23h. Tarifs de placement (40$) ou une heure de supplément pour votre placement.</p>

  <br>
  <h2>
    <b>Locataire réguliers du Centre Communautaire St-Robert :</b>
  </h2>

  <p><b>Le Partage St-Robert</b> 450-679-2600</p>

  <p><b>Les Joyeux Retraités de Longueuil</b> 450-442-9751</p>

  <p><b>Chorale Harmonie</b> 514-572-8797</p>

  <p><b>Chorale Myosotis</b> 450-445-8769</p>

  <p><b>Danse en Line Québec</b> 514-616-7109</p>

  <p><b>N-A</b> 438-838-1972</p>

  <p><b>N-A</b> 438-883-7744</p>

  <p><b>G-A</b> 514-991-8893</p>

  <p><b>Al-Anon</b> 450-676-2675</p>

  <p><b>S-A</b> 450-677-6501</p>

  <p><b>DAA</b> 438-394-9900</p>

  <p><b>AREQ</b> 450-670-3006</p>

  <p><b>AFÉAS</b> 450-677-3225</p>
</div>
