<div class="normal-content">
  <h1>Pour les familles</h1>
  <br><br>
  <h2>Adultes</h2>
  <ul>
    <li><b>Petits Groupes</b> : Ce sont des groupes de gens comme vous qui veulent approfondir leur relation avec Dieu
      et
      leurs
      connaissances bibliques ensemble dans une atmosphère détendue. Ils se réunissent périodiquement dans certains
      foyers.</li>
    <li><b>Barnabas</b> : Ce sont des activités pour les hommes de l’église dans le but de fortifier leur foi en Christ.
      Les
      rencontres ont lieu
      chaque mois.</li>
    <li><b>Réunion de femmes</b> : Le premier vendredi de chaque mois, les femmes se rencontrent à l’église dès 19h00
      pour
      étudier la
      Bible et partager leurs expériences de vie avec d’autres femmes.
    </li>
    <li><b>Institut</b> : voir formation…</li>
  </ul>
  <p>Si vous êtes intéressés à participer aux activités, contactez <b>info@ebrs.ca</b></p>

  <br>
  <h2>Enfants</h2>
  <p>
    C’est un privilège et une responsabilité d’offrir aux enfants l’opportunité de connaître Dieu. Nous sommes excités
    de
    partager le grand amour de Jésus Christ à la nouvelle génération.
  </p>
  <p>Appuyez ici si vous voulez offrir vos services dans un de ces ministères :</p>

  <br>
  <h2>La Pouponnière</h2>
  <p>
    Elle est disponible chaque dimanche pour les 0 à 2 ans. Pour les dames qui travaillent déjà dans la pouponnière,
    consultez ce calendrier
  </p>
  <p>*responsable : Norelis Rojas et Guilaine Jean-Paul</p>

  <br>
  <h2>Jeunesse</h2>
  <p>
    Nous voulons non seulement offrir l’instruction biblique aux enfants, mais les encourager à partager l’amour de
    Christ avec les autres. Pour nos classes du dimanche, nous avons deux groupes d’âge :
  </p>

  <ul>
    <li>3 à 7 ans : responsable -Tessy Jean-Paul, Gail Sommerville, Céline et Marytza Roalion</li>
    <li>8 à 11 ans : responsable -Simon Bravo et Elisabeth Therrien</li>
  </ul>

  <br>
  <h2>Ados</h2>
  <p>
    Les instructeurs veulent communiquer aux ados combien la Bible est actuelle et applicable à leur vie quotidienne.
    Ils prennent le temps de discuter avec eux au moyen d’études bibliques, de l’actualité et des enjeux d’aujourd’hui.
    Leur réflexion spirituelle pourrait les guider pendant toute leur vie adulte.
  </p>

  <p>
    Des activités sont également organisées de façon périodique pour la jeunesse. Elles ont pour but de les encourager à
    se connaître davantage et de former des relations qui dureront toute une vie. (voir calendrier) Nous participons
    aussi
    au camp annuel de Lennoxville : voir lien pour inscription.
  </p>

  <p>
    Responsables :

    Enrique Rojas et Paul Jean Pierre
  </p>
</div>
