<div class="normal-content">
  <h1>FAQ</h1>
  <br>
  <h2>Qu’est-ce qu’on croit?</h2>
  <br>
  <h3>Mission et doctrines de l’Église Baptiste de la Rive Sud</h3>

  <p>Notre Mission : La mission de l’Église est de partager la bonne nouvelle de Jésus, le Christ. Il est mort sur la
    croix
    pour nos péchés et il est ressuscité pour donner la vie éternelle à ceux qui croient (Jean 3.15-18). Après le Salut,
    l’Église aide les gens à grandir dans la connaissance de la Bible et à servir le Seigneur Jésus dans différents
    ministères.</p>

  <h3>Les doctrines de la foi</h3>

  <ul>
    <li>La Bible est inspirée de Dieu (2 Pierre 1:19-21)</li>
    <li>Dieu existe en trois personnes (Genèse 1:26, Genèse 3:22, Genèse 11:6-7, II Cor 13:13)</li>
    <li>Jésus est Dieu (Jean 1:1,14; Jean 8:58, Jean 20:28)</li>
    <li>Le Saint Esprit est Dieu. Il scelle le croyant et demeure en lui éternellement (Actes 5:3-4, Éphésiens 4:30,
      Éphésiens 1:13)</li>
    <li>Dieu a créé la terre et les cieux en six jours ( Genèse 1:1, Col 1:17)</li>
    <li>L’homme est pécheur. Il a besoin de se repentir de ses péchés et de naître de nouveau. Jésus Christ est mort
      pour
      les péchés de ce monde et il offre le pardon des péchés à chaque personne qui croit en Lui. (Romains 5:12,
      Éphésiens
      2:8-9, Romains 10:9-10,13)</li>
    <li>Le prochain événement prophétique sera l’enlèvement de son Église (I Thess 4:13-17) qui sera suivi par sept ans
      de
      tribulation (II Thess. 2:1-12, Apocalypse 6 à 19).</li>
    <li>L’Église est composée des membres sauvés et baptisés (Actes 2:41-44)</li>
  </ul>

  <h3>Pourquoi se réunir</h3>
  L’Église locale, instituée par Jésus-Christ, est un endroit de rencontre entre frères et sœurs chrétiens. Ils se
  réunissent pour un temps de louanges, de célébration et un temps de partager et étudier de sa parole.

  <blockquote>
    N’abandonnons pas notre assemblée…mais exhortons-nous réciproquement, et cela d’autant plus que vous voyez
    s’approcher
    le jour. Hébreux 10.25
    Poussez vers l’Éternel des cris de joie, vous tous habitants de la terre! Servez l’Éternel, avec joie, Venez avec
    allégresse en SA PRÉSENCE! Psaume 100.1-2
  </blockquote>

  <b>Si vous avez des questions n’hésiter pas à nous contacter par email au ebrs@videotron.ca.</b>
</div>
