<div class="footer-container bg-dark text-content container-fluid">
  <div class="row">
    <div class="col-auto">
      <div class="container">
        <div class="row footer-link-container">
          <div class="col">ACCUEIL</div>
          <div class="col">À PROPOS</div>
          <div class="col">POUR LES FAMILLES</div>
          <div class="col">CENTRE ST-ROBERT</div>
          <div class="col">MEMBRES</div>
          <div class="col">CONTACT</div>
        </div>
      </div>
      <div class="container">
        <i class="fa-brands fa-square-facebook"></i>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>